DB_USERNAME=postgres
DB_PASSWORD=root
DB_NAME=meu_banco
DB_SCHEMA=sch_techindustry
# IMPORTANTE: Note o "db" no lugar de "localhost" para o Java achar o banco dentro do Docker
DB_URL=jdbc:postgresql://db:5432
JWT_SECRET=sua_chave_secreta_aqui
